footer {
  background-color: rgb(38, 41, 41);
  grid-area: footer;
  grid-column: 1/ 4;
  display: flex;
  flex-direction: row;
  align-items: center;



  gap: 3rem;



  .Redes {
    
    width: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .boton {
      height: 50px;
      width: 100px;
      background-color: $colorBlanco;
      border: 1px $colorNegro solid;
      border-radius: 35%;
      font-style: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      

      a {

       color: $colorNegro;


        
      }
      }
    

  
 
  
  .Redes_hijos {




    .logoRed {
      width: 50px;
      height: 50px;
      border-radius: 40%;
    }

    
  

}
}
}

@media screen and (max-width: 1200px) {

  footer div {

    @include footerMovile-1200-800;
    height: max-content;
  
    
    .logoRed {
    width: 5px;
    height: 5px;
    border-radius: 30%;
  
  }
  
  
  }

}
@media screen and (max-width: 900px) {

  footer div {

    @include footerMovile-1200-800;
    height: max-content;
  
    
    .logoRed {
    width: 5px;
    height: 5px;
    border-radius: 30%;
  
  }
  
  
  }
  


}
@media screen and (max-width: 600px) {

  footer div {

    @include footerMovile-600-300;
    height: max-content;

    
    .Redes_hijos {

      
  
      .logoRed {
        width: 5px;
        height: 5px;
        border-radius: 30%;
      }
  
      
  }

}


}
@media screen and (max-width: 300px) {

  footer div {

    @include footerMovile-600-300;

    
    .Redes_hijos {

      
  
      .logoRed {
        width: 5px;
        height: 5px;
        border-radius: 30%;
      }
  
      
  }

}


}