header {
    grid-area: header;
    overflow: hidden;
 
   figure {
    height: 100%;
    width:$medida;
    overflow: hidden;
  
  
  .logo-banda {
    height: 100%;
    width: $medida;
    object-fit: COVER;
  
  }

}

}
  